<div class="create">
  <h1>Create new project</h1>
  <form name="createForm" ng-submit="create()">
    <label>Project name: </label>
    <input type="text" ng-model="project.name"><br>
    <label>Estimated time: </label>
    <input ng-model="project.estTime">
    <span>hours</span><br>
    <label>Required skills: </label> <br>

    <div class="options" ng-repeat='skillIndex in ["skill1", "skill2", "skill3"]'>
      <select ng-model="project[skillIndex]" required>
        <option ng-repeat="option in skills"> {{option}}</option>
      </select><br>
    </div>

    <button>Submit</button>
  </form>
</div>
