<!-- navbar -->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/dashboard">ProjectTyr</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#/dashboard">Dashboard</a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">   
        <li><a href="#/signout"><span class="glyphicon glyphicon-log-out"> Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="create">
    <!-- title -->
    <div class="form-group">
      <h1>Create New Project</h1>
      <form name="createForm" role="form">
    </div>

      <!-- projectname -->
      <div class="form-group">
        <label>Project Name:</label>
        <input type="text" ng-model="project.name" for="projectName"><br>
     </div>

      <!-- estimatedtime -->
      <div class="form-group" >
       <label>Estimated Time:</label>
        <input ng-model="project.estTime" placeholder=" # of hours">
      </div>

      <!-- requiredskills -->
      <label>Required Skills: </label> <br>
      <div class="options" ng-repeat='skillIndex in ["skill1", "skill2", "skill3"]'>
        <select ng-model="project[skillIndex]" required>
          <option ng-repeat="option in skills"> {{option}}</option>
        </select>
      </div>

      <p class="error" ng-if="project.err">{{ project.err }}</p>
      <br>
      <button class="btn-success btn-sm" ng-click="create()">Submit</button>
    </form>
  </div>
</div>