<!-- navbar -->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/dashboard">ProjectTyr</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#/dashboard">Dashboard</a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">   
        <li><a href="#/signout"><span class="glyphicon glyphicon-log-out"> Sign-out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container createForm">
  <div class="create">
    <!-- title -->
    <div class="form-group">
      <h3>Create New Project</h3>
      <form name="createForm" role="form">

        <!-- projectname -->
        <div class="form-group">
          <label>Project Name</label>
  <!--         <input type="text" ng-model="project.name" for="projectName"><br> -->
          <input name="name" type="text"  class="form-control input-sm" placeholder="Project name" ng-model="project.name" required/>
          <p ng-show="createForm.name.$error.required && createForm.name.$dirty" class="help-block">Project name is required.</p>
        </div>

        <!-- estimatedtime -->
        <div class="form-group" >
         <label>Estimated Time (hrs)</label>
          <!-- <input ng-model="project.estTime" placeholder=" # of hours"> -->
          <input name="time" type="text"  class="form-control" placeholder="100" ng-model="project.estTime" required/>
          <p ng-show="createForm.time.$error.required && createForm.time.$dirty" class="help-block">Project estimated time is required.</p>
        </div>

        <!-- requiredskills -->
        <label>Required Skills: </label> <br>
        <div class="options" ng-repeat='skillIndex in ["skill1", "skill2", "skill3"]'>
          <select name="skill" ng-model="project[skillIndex]">
            <option ng-repeat="option in skills"> {{option}}</option>
          </select>
          <p ng-show="createForm.skill.$error.required && createForm.skill.$dirty" class="help-block">At least one skill is required.</p>
        </div>

        <p class="error" ng-if="project.err">{{ project.err }}</p>
        <br>
        <button class="btn btn-success" ng-click="create()" ng-disabled="createForm.$invalid">Submit</button>
      </form>
    </div>
  </div>
</div>