@import url(http://fonts.googleapis.com/css?family=Roboto:400);

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

h1{
  font-size: 5.0em;
  font:Tahoma;
  text-align: center;
}

h4{
  font-family: ‘Courier New’, Courier, monospace;
}

.carousel-caption{
  top: 30%;
  bottom:auto;
  color:black;
}

img{
  opacity: .4;
  width: 100%;
}

blockquote {
    border: none;
}

.row{
  text-align:center;
}


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-login input,
.form-login .wrapper a {
    font-size: 16px;  
}

.form-login .wrapper span button {
    font-weight: bold;
}

h3 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:20px;
 text-align: center;
 font-weight: bold;
}

.form-control {
    border-radius: 16px;
}

.wrapper {
    text-align: center;
}

.social-box{
  margin: 0 auto;
  padding: 20px;
}

.social-box a{
  font-weight:bold;
  font-size:16px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:16px;
}

.loginOr{
    font-size: 16px;
    color: #aaa;
    margin-bottom: 15px;
    text-align: center;
}

.alert-danger {
    font-weight: bold;
}

p.help-block {
    color: red;
}

div.signform {
    padding-top: 40px;
    position: fixed;
    left: 180;
    right: 200;
    text-align: center;
}

div.createForm {
  text-align: center;
  width: 500px;
  border: 2px solid grey;
  background-color: lightgray;
  border-radius: 28px;
}

div form {
  text-align:left;
  padding-left: 150px;
}

div.options select{
  width: 150px;
  height: 30px;
  margin: 5px;
}

div.createForm form input {
  width: 200px;
}

div form button {
  text-align:center;
  width: 160px;
  padding-right: 0;
}