<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProjectTyr</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#/create">Create a project</a></li>
        <li><a href="#/signout">Log out</a></li> 
      </ul>
    </div>
  </div>
</nav>

<button type="button" class="btn btn-success btn-lg" ng-click="startClock()" ng-if="!start">Start</button>

<button type="button" class="btn btn-success btn-lg" time-tracker="start" ng-click="endClock()" ng-if="start"></button>

<br>
<a ng-if="end" data-toggle="modal" data-target="#myModal">{{actTime + " hrs"}}</a>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Assign your time</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Project</th>
              <th>Time %</th>
              <th>Skill1</th>
              <th>Skill2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ProName1</td>
              <td>100%</td>
              <td>50%</td>
              <td>50%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Estimated Time</th>
        <th>Actual Time</th>
        <th ng-repeat="skill in skills">{{skill.skills_name}}</th>
        <th>Start</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects">
        <td>{{project.project_name}}</td>
        <td>{{project.est_time}}</td>
        <td>{{project.act_time}}</td>
        <td>5 hrs</td>
        <td>5 hrs</td>
        <td class="glyphicon glyphicon-play" ng-click="startClock()"></td>
      </tr>
    </tbody>
  </table>
</div>
