<!--  Navbar -->
<nav class="navbar navbar-inverse navbar-static-top" style="margin:0">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/home" class="navbar-brand">ProjecTyr</a>
    </div>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#/signin"><span class="glyphicon glyphicon-log-in"></span> Sign-in</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- main signup form -->
<div class="container signform">
  <div class="row">
    <div class="col-md-offset-5 col-md-5">
      <div class="form-login">
        <h3>Welcome to ProjecTyr!</h3>

        <form name="signForm">
          <!-- username input-->
          <input name="username" type="text"  class="form-control input-sm chat-input" placeholder="username" ng-model="user.username" required/>
          <p ng-show="signForm.username.$error.required && signForm.username.$dirty" class="help-block">Username is required.</p>
          </br>

          <!-- password input -->
          <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password" required/>
          <p ng-show="signForm.password.$error.required && signForm.password.$dirty" class="help-block">Password is required.</p>
          </br>

          <!-- submmit button and signin option -->
          <div class="wrapper">
            <span class="group-btn">     
              <button class="btn btn-primary btn-block" ng-click="signup()" ng-disabled="signForm.$invalid">Signup <i class="fa fa-sign-in"></i></button>
            </span>
            <br>
            <a href="#/signin">Don't have an account? <strong>Signin</strong>...</a> 
            <br>
            <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
