<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/home">ProjectTyr</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#/signin">Signin</a></li>
        <li><a href="#/signup">Signup</a></li> 
      </ul>
    </div>
  </div>
</nav>

<div class="container signform">
  <div class="row">
    <div class="col-md-offset-5 col-md-5">
      <div class="form-login">
        <h3>Welcome back!</h3>

        <div class="social-box">
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-info btn-block" ref="/auth/github" >
                <i></i>    Login with Github
              </a>
            </div>
          </div>
        </div>

        <div class="loginOr">
          <span>or</span>
        </div>

        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" ng-model="user.username"/>
        </br>
        <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="user.password"/>
        </br>
        <div class="wrapper">
          <span class="group-btn">     
            <a href="#" class="btn btn-primary btn-block" ng-click="signin()">Signin <i class="fa fa-sign-in"></i></a>
          </span>
          <br>
          <a href="#/signup">Don't have an account? <strong>Signup</strong>...</a> 
          <br>
          <p class="alert alert-danger" ng-if="user.err">{{ user.err }}</p>
        </div>
      </div>
    </div>
  </div>
</div>